@font-face {
  font-family: 'Cascadia Code';
  src: url('./assets/fonts/CascadiaCode.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Cascadia Code', monospace;
}

.btn-style {
  width: 10%;
  height: 10%;
  border: 1px solid black;
  position: absolute;
  top: 20%;
  right: 20%;
  font-size: 30px;
}
